<div class="app" style="display: flex; height: 100vh; overflow: scroll initial">
  <CDBSidebar textColor="#ffffff" backgroundColor="#333333">
    <CDBSidebarHeader [prefix]="icon">
      <ng-template #icon>
        <i class="fa fa-bars fa-large"></i>
      </ng-template>

      DELIVERY APP
    </CDBSidebarHeader>

    <CDBSidebarContent>
      <CDBSidebarMenu class="sidebar-content">
        <CDBSidebarMenuItem routerLink="map" class="text-center">
          Map
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem routerLink="form" class="text-center">
          Form
        </CDBSidebarMenuItem>
        <CDBSidebarMenuItem routerLink="packageslist" class="text-center">
          Table
        </CDBSidebarMenuItem>
      </CDBSidebarMenu>
    </CDBSidebarContent>
    <div class="mt-auto">
      <CDBSidebarFooter style="text-align: center; margin-top: auto">
        <div class="sidebar-btn-wrapper" style="padding: 20px 5px">
          by Guido
        </div>
      </CDBSidebarFooter>
    </div>
  </CDBSidebar>
</div>
